h1{
    background:white;
    color:magenta;
}
.second{
color:red;
}
}
.third{
    style="font size:24px;
    font-style: italic;
    text-align: center;
    font-size: 24px;
}
.fourth{
 style="font size:24px;
    font-style: italic;
    text-align: center;
    font-size: 24px;

}
